<h1>Show Image</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <%= image_tag @image.file.url(:full), :size => "400x400" %>
</p>


<p>
  <%= link_to 'Edit', edit_image_path(@image) %>
  <%= link_to 'Back', images_path %>
</p>