!!!
%html
  %head
    %title Attached
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-default{ role: 'navigation' }
      .container
        = link_to 'Attached', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li= link_to 'Audios', audios_path
          %li= link_to 'Images', images_path
    .container
      = yield