<h1>Images</h1>

<table>
  <%- @images.each do |image| -%>
    <%= content_tag :tr, image, :class => cycle('odd','even') do %>
      <td><%= image.name %></td>
      <td><%= link_to 'Show', image_path(image) %></td>
      <td><%= link_to 'Edit', edit_image_path(image) %></td>
      <td><%= link_to 'Destroy', image_path(image), :method => :delete %></td>
    <% end %>
  <%- end -%>
</table>

<p>
  <%= link_to 'New', new_image_path %>
  <%= link_to 'Back', root_path %>
</p>