<%= form_for @person, :html => { :multipart => true } do |f| %>

  <%- if @person.errors.any? -%>
    <p class="count"><%= pluralize(@person.errors.count, "error") %> prohibited this from being saved:</p>
    <ul class="errors">
      <% @person.errors.each do |method, message| %>
        <li class="error"><b><%= method %></b> <i><%= message %></i></li>
      <% end %>
    </ul>
  <%- end -%>
  
  <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :avatar, "Avatar:" %>
    <%= f.file_field :avatar %>
  </p>
  
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', people_path %>
  </p>
  
<% end %>