<h1>Show Person</h1>

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @person.avatar.url(:full), :size => "400x400" %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %>
<%= link_to 'Back', people_path %>