<%= form_for @audio, :html => { :multipart => true } do |f| %>

  <%- if @audio.errors.any? -%>
    <p class="count"><%= pluralize(@audio.errors.count, "error") %> prohibited this from being saved:</p>
    <ul class="errors">
      <% @audio.errors.each do |method, message| %>
        <li class="error"><b><%= method %></b> <i><%= message %></i></li>
      <% end %>
    </ul>
  <%- end -%>
  
  <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :file, "File:" %>
    <%= f.file_field :file %>
  </p>
  
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', audios_path %>
  </p>
  
<% end %>